/***** Curseurs colorés *****/
.rs-cursor-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Génère une ombre suivant les formes du curseur */
.rs-shadow-wrapper {
  width: calc(80% - 8vw);
  filter: drop-shadow(0.3vw 0.3vw 0.2vw #000A);
}

.rs-cursor-ink {
  height: 2vw;
  width: calc(100% - 1vw);
  
  margin-left: 1vw;
  margin-top: 0.5vw;
  
  border-radius: 1vw;
  clip-path: polygon(0 25%, 0 75%, 100% 100%, 100% 0%);
  
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.rs-cursor {
  height: 100%;
  border-radius: 0 1vw 1vw 0;
  background: linear-gradient(to right, #00000050, #00000080);
}

.rs-cursor-handle {
  height: 100%;
  width: 20px;
  min-width: 20px;
  
  position: relative;
  left: -10px;

  background: linear-gradient(to right, transparent, #FF000060 40%, #FF0000 50%, #FF000060 60%, transparent);
  cursor: col-resize;
  color: transparent;
}

.rs-cursor.readonly .rs-cursor-handle {
  width: 1px;
  min-width: 0;
  left: 0;
  
  cursor: default;
  background: black;
}
.rs-cursor.error .rs-cursor-handle { 
  text-align: center;
  color: red;
  font-family: sans-serif;
  font-size: 1.8vw;
}

.rs-cursor-title { 
  margin-top: 0.5vw; 
  width: 20%;
  font-size: 1.5vw;
  text-align: right;
}

.rs-cursor-input-field {
  margin-top: 0.2vw;
  margin-right: 0.5vw;
  background-color: transparent;
  color: #cee1ee;
  border: none;
  font-weight: bold;
  font-size: 1.5vw;
  width: 4vw;
  text-align: right;
}
.rs-cursor-input-field:focus {
  box-shadow: 0 0 3px #085388;
}

.rs-txt-unit {
  font-size: 1.2vw;
  margin-top: 0.8vw;
}

/* On retire les boutons flèche */
.rs-cursor-input-field::-webkit-outer-spin-button,
.rs-cursor-input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.rs-cursor-input-field { -moz-appearance:textfield; }

/*** Butées et valeurs associées ***/
.rs-cursor-limits {
  margin-top: 0.5vw;
  margin-left: 2vw;
  width: calc(100% - 3vw);
  height: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rs-cursor-limits .vertical-bar {
  height: 100%;
  border: 1px solid;
}

.rs-cursor-limits.vals {
  margin-top: 0.1vw;
  margin-left: 1.8vw;
  width: calc(100% - 2.6vw);
}

.rs-cursor-limits.vals .limit-val {
  font-size: 1vw;
  font-family: monospace;
}

/*** Affichage en mode reverse ***/
.reverse .rs-cursor-ink {
  justify-content: start;
  clip-path: polygon(100% 25%, 100% 75%, 0 100%, 0 0);
}
.reverse .rs-cursor {
  border-radius: 1vw 0 0 1vw;
  background: linear-gradient(to right, #00000080, #00000050);
  display: flex;
  justify-content: end;
}
.reverse .rs-cursor-handle { left: 10px; }
